.BuildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
}

.BuildControl button {
  display: block;
  width: 80px;
  border: 1px solid #702e05;
  padding: 5px;
  margin: 0 5px;
  cursor: pointer;
  font: inherit;
  outline: none;
  color: white;
}

.BuildControl button:disabled {
  background-color: #9e8665;
  border: 1px solid #7e7365;
  color: #ccc;
}

.BuildControl button:hover:disabled {
  background-color: #beab92;
  cursor: not-allowed;
}

.BuildControl .Add {
  background-color: #bf3813;
}

.BuildControl .Add:hover, .BuildControl .Add:active {
  background-color: #c45e38;
}

.BuildControl .Less {
  background-color: #b8752a;
}

.BuildControl .Less:hover, .BuildControl .Less:active {
  background-color: #d38f42;
}